In [204]:
import pandas as pd
df = pd.read_csv("https://api.covid19india.org/csv/latest/case_time_series.csv")
df['Date'] = df['Date'].astype('str') + "2020"
df['Date'] = pd.to_datetime(df['Date'],format="%d %B %Y")
df['Date'] = df['Date'].astype('datetime64[ns]')

In [205]:
df.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,2020-01-30,1,1,0,0,0,0
1,2020-01-31,0,1,0,0,0,0
2,2020-02-01,0,1,0,0,0,0
3,2020-02-02,1,2,0,0,0,0
4,2020-02-03,1,3,0,0,0,0

In [4]:
import datetime
import pandas as pd
df = pd.read_csv('https://api.covid19india.org/csv/latest/state_wise.csv')
last_update = df['Last_Updated_Time'].max() 
df = df.replace('Total','All States')

In [5]:
df.head()

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,All States,568315,335638,16918,215699,30/06/2020 13:55:13,60,TT,779,367,14,NaN
1,Maharashtra,169883,88960,7610,73298,29/06/2020 19:54:14,15,MH,0,0,0,15 cases were marked as non-covid deaths in MH...
2,Tamil Nadu,86224,47749,1141,37334,29/06/2020 18:50:15,0,TN,0,0,0,2 deaths cross notified to other states from C...
3,Delhi,85161,56235,2680,26246,29/06/2020 21:46:14,0,DL,0,0,0,"Delhi bulletins in the morning, containing dat..."
4,Gujarat,32023,23248,1828,6947,29/06/2020 20:26:16,0,GJ,0,0,0,NaN

In [1]:
import datetime
import pandas as pd
df = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise_daily.csv")
df['Date'] = pd.to_datetime(df['Date'],format="%d-%b-%y")

In [2]:
state_codes = dict(zip(df.State_code.unique(),df.State.unique()))
state_codes['TT']

AttributeError: 'DataFrame' object has no attribute 'State_code'

In [163]:
import pandas as pd
df = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise_daily.csv")
columns = df.columns[2:]
date = pd.to_datetime(df['Date'], format ="%d-%b-%y")
df['Date'] = pd.to_datetime(df['Date'], format ="%d-%b-%y")
status = df['Status'].copy()

df = df.pivot(index='Date', columns='Status')
df= df.cumsum(axis=0)
df = df.stack(-1)


date=pd.DataFrame(date)
status=pd.DataFrame(status)

index = [x for x in range(0,len(df))]
date_col = [date.iloc[n] for n in range(len(date))]
status_col = [status.iloc[n] for n in range(len(status))]
df['Index']=index
df=df.set_index(['Index'])

status_col = pd.DataFrame(status_col)
df['Status']=status_col
date_col = pd.DataFrame(date_col)
df['Date']=date_col

df

,TT,AN,AP,AR,AS,BR,CH,CT,DN,DD,...,SK,TN,TG,TR,UP,UT,WB,UN,Status,Date
Index,,,,,,,,,,,,,,,,,,,,,
0,81,0,1,0,0,0,0,0,0,0,...,0,1,1,0,12,0,0,0,Confirmed,2020-03-14
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Recovered,2020-03-14
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,Deceased,2020-03-14
3,108,0,1,0,0,0,0,0,0,0,...,0,1,3,0,13,0,0,0,Confirmed,2020-03-15
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Recovered,2020-03-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,15689,0,146,1,8,56,6,13,0,0,...,0,957,237,1,630,37,616,0,Recovered,2020-06-26
314,295918,43,5196,49,4248,6669,335,1885,50,0,...,40,41357,4766,1062,13583,1822,10535,0,Deceased,2020-06-26
315,529474,72,12285,177,7064,8980,428,2602,186,0,...,87,78335,13436,1339,21549,2791,16711,8023,Confirmed,2020-06-27
316,16102,0,157,1,8,58,6,13,0,0,...,0,1025,243,1,649,37,629,0,Recovered,2020-06-27
317,310137,43,5480,54,4815,6930,335,1937,56,0,...,40,44094,4928,1078,14215,1909,10789,0,Deceased,2020-06-27

In [176]:
import pandas as pd
df = pd.read_csv("https://api.covid19india.org/csv/latest/state_wise_daily.csv")
columns = df.columns[2:]
date = pd.to_datetime(df['Date'], format ="%d-%b-%y")
df['Date'] = pd.to_datetime(df['Date'], format ="%d-%b-%y")
status = df['Status'].copy()

df = df.pivot(index='Date', columns='Status')
df= df.cumsum(axis=0)
df = df.stack(-1)

index = [x for x in range(0,len(df))]

df['Index']=index
df=df.set_index(['Index'])

In [177]:
df['Status']=status

In [179]:
y_conf = df[df['Status']=='Confirmed']

In [180]:
y_conf

,TT,AN,AP,AR,AS,BR,CH,CT,DN,DD,...,RJ,SK,TN,TG,TR,UP,UT,WB,UN,Status
Index,,,,,,,,,,,,,,,,,,,,,
0,81,0,1,0,0,0,0,0,0,0,...,3,0,1,1,0,12,0,0,0,Confirmed
3,108,0,1,0,0,0,0,0,0,0,...,4,0,1,3,0,13,0,0,0,Confirmed
6,123,0,1,0,0,0,0,0,0,0,...,4,0,1,4,0,13,1,0,0,Confirmed
9,134,0,1,0,0,0,0,0,0,0,...,4,0,1,5,0,15,1,1,0,Confirmed
12,171,0,1,0,0,0,0,0,0,0,...,7,0,2,13,0,17,2,1,0,Confirmed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,472882,56,10331,160,6181,8273,420,2419,136,0,...,16009,83,67468,10444,1263,19557,2623,15173,8141,Confirmed
309,491087,58,10884,172,6545,8488,423,2456,156,0,...,16296,85,70977,11364,1295,20193,2691,15648,8493,Confirmed
312,509342,72,11489,174,6818,8678,425,2545,171,0,...,16660,87,74622,12349,1330,20943,2725,16190,8123,Confirmed
315,529484,72,12285,177,7064,8980,428,2610,186,0,...,16944,87,78335,13436,1339,21549,2791,16711,8023,Confirmed
318,549094,83,13098,182,7391,9224,431,2694,190,0,...,17271,88,82275,14419,1351,22147,2823,17283,7839,Confirmed